<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.scorpion.risk.api.mapper.DonationMapper">

    <insert id="addDonationId" parameterType="java.lang.String">
        INSERT INTO t_donation_id(donationId)
        VALUES (#{donationId})
    </insert>

    <select id="findAll" resultType="java.lang.String">
        SELECT donationId FROM t_donation_id
    </select>

    <insert id="add" parameterType="com.scorpion.risk.api.entity.Donation">
        INSERT INTO t_donation(donationId,donationDate,collectionType,donationVolumes,donationAddress,donationOrg,createTime,updateTime,city,donatorId)
        VALUES (#{donationId},#{donationDate},#{collectionType},#{donationVolumes},#{donationAddress},#{donationOrg},NOW(),NOW(),#{city},#{donatorId})
    </insert>

    <select id="findByDonatorId" resultType="com.scorpion.risk.api.entity.Donation">
        SELECT * FROM t_donation WHERE donatorId=#{donatorId}
    </select>
</mapper>